.movies-card{
  display: flex;
  background: #222222;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.movies-card__col{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.movies-card__link{
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.movies-card__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 14px 12px 0 12px;
  padding: 0;
}

.movies-card__remove{
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('../../images/moviescard/remove.svg');
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.movies-card__remove:hover{
  cursor: pointer;
  opacity: 0.6;
}

.movies-card__add{
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('../../images/moviescard/save-inactive.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.movies-card__add:hover{
  cursor: pointer;
  opacity: 0.6;
}

.movies-card__add_active{
  background-image: url('../../images/moviescard/save-active.svg');
}

.movies-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-card__title{
  margin: 0;
  padding: 0;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.movies-card__time{
  margin: 10px 0 14px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
}