.profile{
  display: flex;
  width: 100%;
}

.profile__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px auto 0 auto;
}

.profile__title{
  display: block;
  margin: auto;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  user-select: none;
}

.profile__title:hover{
  cursor: default;
}

.profile__form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 123px auto 0 auto;
  padding: 0;
  width: 410px;
}

.profile__fieldset{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
  border: none;
}

.profile__input{
  display: block;
  width: 410px;
  margin: auto;
  padding: 0 0 16px 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #424242;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #fff;
}

.profile__input:focus{
  background-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.profile__input:last-of-type{
  border: none;
  padding: 18px 0 0 0;
}

.profile__special-placeholder{
  position: absolute;
  top: 0;
  bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  color: #fff;
  text-align: left;
  user-select: none;
}

.profile__special-placeholder:nth-of-type(2){
  top: 48px;
}

.profile__edit-button{
  display: block;
  margin: 220px auto 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
  user-select: none;
}

.profile__edit-button_disabled{
  opacity: 0.6;
}

.profile__edit-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.profile__logout{
  display: block;
  margin: 16px auto 0 auto;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  opacity: 1;
  transition: opacity 0.3s ease;
  user-select: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.profile__logout:hover{
  cursor: pointer;
  opacity: 0.6;
}

.profile__error{
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 250px;
  margin: 0;
  margin-left: -125px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #EE3465;
}

.profile__error_type_second{
  top: 36px;
}

@media screen and (max-width: 500px) {
  .profile{
    display: flex;
    width: 81.25%;
  }
  .profile__section{
    margin: 70px auto 0 auto;
  }
  .profile__form{
    margin: 82px auto 0 auto;
    width: 260px;
  }
  .profile__input{
    width: 260px;
  }
  .profile__edit-button{
    font-size: 12px;
    line-height: 15px;
    margin: 378px auto 0 auto;
  }
  .profile__logout{
    font-size: 12px;
    line-height: 15px;
  }
}