.not-found{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;   
}

.not-found__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.not-found__title{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #fff;
}

.not-found__text{
  margin: 5px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.not-found__button{
  margin: 184px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  border: 0;
  outline: 0;
  background: transparent;

  opacity: 1;
  transition: opacity 0.1s ease;
}
.not-found__button:hover{
  cursor: pointer;
  opacity: 0.6;
}