.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 100px auto 0 auto;
  padding: 0;
  width: 89.1%;
  max-width: 1280px;
  min-width: 320px;
}

.portfolio__title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  mix-blend-mode: normal;
}

.portfolio__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__item{
  margin: 0 0 20px 0;
  padding: 0;
}

.portfolio__item:last-child{
  margin: 0;
}

.portfolio__link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px #424242 solid;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.portfolio__link:hover{
  cursor: pointer;
  opacity: 0.6;
}

.portfolio__text{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;  
  letter-spacing: -0.04em;
  color: #FFF;
}

.portfolio__arrow{
  display: block;
  align-self: center;
  width: 20px;
  height: 20px;
  background-image: url('../../images/portfolio/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}