.header{
  display: flex;
  width: 100%;
}

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 89.1%;
  max-width: 1280px;
  min-width: 320px;
  height: 74px;
}

.header_background_eagle-green{
  background-color: #073042;
}

.header__left-content{
  display: flex;
  flex-direction: row;
}

.header__right-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo{
  display: block;
  margin-bottom: 18px;
  margin-top: 18px;
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.header__text{
  display: block;
}

.header__button{
  display: block;
}

.header__extra{
  display: block;
}