.techs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 89.1%;
  max-width: 1280px;
  min-width: 320px;
}

.techs__title{
  margin: 110px 0 0 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #dadada;
  font-size: 22px;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__main-title{
  margin: 90px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__description{
  display: block;
  max-width: 460px;
  margin: 26px auto 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__list{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 100px auto 100px auto;
}

.techs__item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}