.techs{
  display: flex;
  width: 100%;
}

.techs_background_signal-black{
  background-color: #272727;
}

.techs__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 89.1%;
  max-width: 1280px;
}

.techs__title{
  margin: 95px 0 0 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #dadada;
  font-size: 22px;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__main-title{
  margin: 90px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__description{
  display: block;
  max-width: 460px;
  margin: 26px auto 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__list{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 100px auto 100px auto;
}

.techs__item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .techs__container{
    width: 92.18%;
  }
  .techs__title{
    margin: 90px 0 0 0;
  }
  .techs__main-title{
    margin: 80px 0 0 0;
  }
  .techs__description{
    max-width: 455px;
    margin: 22px auto 0 auto;
    font-size: 12px;
    line-height: 18px;
  }
  .techs__item{
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
  .techs__list{
    margin: 83px auto 90px auto;
  }
  
}

@media screen and (max-width: 800px) {
  .techs__container{
    width: 86.98%;
  }
  .techs__title{
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 720px) {
  .techs__container{
    width: 88.75%;
  }
  .techs__title{
    margin: 58px 0 0 0;
    padding: 0 0 26px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #000;
  }
  .techs__main-title{
    margin: 60px 0 0 0;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 50px auto 100px auto;
  }
  .techs__description{
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    margin: 27px auto 0 auto;
  }
}