.login{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.login__title{
  display: block;
  justify-self: flex-start;
  margin: 22px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  user-select: none;
}

.login__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto 0 auto;
  padding: 0;
  width: 396px;
}

.login__fieldset{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
  border: none;
}

.login__caption{
  margin: 20px 0 10px 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.login__caption:nth-of-type(1){
  margin: 0 0 10px 0;
}

.login__input{
  display: block;
  width: 396px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #2F2F2F;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #fff;
}

.login__input:focus{
  outline: 1px solid #666;
}

.login__input:last-of-type{
  letter-spacing: 5px;
}

.login__input_color_red{
  color: #EE3465;
}

.login__error{
  visibility: hidden;
  margin: 10px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.login__error_visible{
  visibility: visible;
}

.login__sign-in-button{
  height: 45px;
  margin: 157px 0 0 0;
  padding: 0;
  border: none;
  outline: none;
  background: #4285F4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login__sign-in-button_disabled{
  opacity: 0.6;
}

.login__sign-in-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.login__bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px auto 0 auto;
  padding: 0;
}

.login__text{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.login__sign-up-link{
  margin: 0 0 0 6px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #4285F4;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login__sign-up-link:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .login{
    margin-top: 162px;
    margin-bottom: 162px;
  }
}

@media screen and (max-width: 500px) {
  .login{
    margin-top: 38px;
    margin-bottom: 30px;
  }
  .login__title{
    margin: auto;
  }
  .login__section{
    margin-top: 30px;
  }
  .login__fieldset{
    margin-top: 42px;
  }
  .login__form{
    width: 260px;
  }
  .login__input{
    width: 260px;
  }
  .login__sign-in-button{
    margin: 245px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .login__text{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
  .login__sign-up-link{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}