.auth-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 32px;
}

.auth-buttons__sign-up{
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.auth-buttons__sign-up:hover{
  cursor: pointer;
  opacity: 0.6;
}

.auth-buttons__sign-in{
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 30px;
  width: 76px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  background-color: #3DDC84;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.auth-buttons__sign-in:hover{
  cursor: pointer;
  opacity: 0.6;
}

.auth-buttons__text{
  margin: auto;
  color: #ffffff;
  text-align: center;
}

.auth-buttons__text_color_black{
  color: #000000;
}