.nav-tab{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-left: 44px;
  padding: 0;
}

.nav-tab__link{
  margin: 0;
  padding: 0;
  margin-left: 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav-tab__link:hover{
  cursor: pointer;
  opacity: 0.6;
}

.nav-tab__link:nth-of-type(1){
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .nav-tab{
    display: none;
  }
}